[submodule "src/awesome-ros2"]
	path = src/awesome-ros2
	url = git@github.com:MiracoMove/awesome-ros2.git
[submodule "src/mm_nema_tode"]
	path = src/mm_nema_tode
	url = git@github.com:MiracoMove/NemaTode.git
	branch = master
