<?xml version="1.0" encoding="UTF-8"?>
<robot name="ppr_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Robot appearence description -->
  <xacro:include filename="$(find mm_robot_description)/urdf/robot_core.xacro" />

  <!-- Robot simulation description -->
  <xacro:include filename="$(find mm_robot_simulation)/urdf/gazebo.xacro" />

  <!-- Robot ros2_control settings for wheels -->
  <xacro:include filename="$(find mm_robot_simulation)/urdf/ros2_control/wheel.xacro" />

</robot>